body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
}
#btns {
    text-align: center;
}

#apiData {
    border: 2px solid dimgray;
    background-color:aliceblue;
    padding: 2em;
    margin: 20px auto;
    height: 230px;
    display: flex;
    flex-direction: column;
}

img.user {
    border: 10px solid dimgray;
    background-color: dimgrey;
    border-radius: 40%;
    width: 128px;
    height: 128px;
    display: block;
    margin: auto;
}

h2.user{
    color:dimgray;
    text-align: center;
    margin: 5px;
}

p.user{
    text-align: center;
    opacity: 0.5;
    margin-bottom: 10px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}



/* @media screen and (max-width: 800px) {
    body{
        width: 90%;
    }
    .btn{
        margin: 1em;
        width: 51%;
        border-radius: 10px;
        padding: 2em;
    }
} */